<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, admin-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>添加管理员</title>  
    <link rel="stylesheet" href="../static/admin/css/pintuer.css">
    <link rel="stylesheet" href="../static/admin/css/admin.css">
    <script src="../static/admin/js/jquery.js"></script>
    <script src="../static/admin/js/pintuer.js"></script>  
  
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 添加管理员</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="#" enctype="multipart/form-data">
      <div class="form-group">
        <div class="label">
          <label>管理员账号</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="admin_name" value="<{$admin_info.admin_name}>" data-validate="required:请输入管理员帐号："/>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>管理员密码：</label>
        </div>
        <div class="field">
          <input type="password" class="input w50" name="admin_pwd" placeholder="输入新密码或不输入" />
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>管理员头像：</label>
        </div>
        <div class="field">
          <input type="file" id="url1" name="admin_img" class="input tips" style="width:25%; float:left;" value="" data-toggle="hover" data-place="right" />
          <{if $admin_info.admin_img neq ""}>
          <img style="width: 100px;height: 100px" src="../<{$admin_info.admin_img}>">
          <{/if}>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>网站链接：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="admin_site" value="<{$admin_info.admin_site}>" data-validate="required:请输入管理员网站链接"/>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>前台呢称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="admin_nickname" value="<{$admin_info.admin_nickname}>" data-validate="required:请输入管理员呢称"/>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>管理员邮箱：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="admin_email" value="<{$admin_info.admin_email}>" data-validate="required:请输入管理员邮箱"/>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>管理员QQ：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="admin_qq" value="<{$admin_info.admin_qq}>" data-validate="required:请输入管理员qq"/>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body></html>