<header>
	<div class="header">
		<div class="logo">
			<h1><a href="index.html">My-Blog</a></h1>
		</div>
		<nav id="nav">
			<ul>
				<li><a href="link.php" title="关于我">友情链接</a></li>
				<li><a href="guestbook.php" title="留言板">留言板</a></li>
				<li><a href="moodlist.php" title="我的相册">碎言碎语</a></li>
				<li><a href="articles.php" title="博文目录">我的博文</a></li>
				<li><a href="index.php">网站首页</a></li>
			</ul>
			<script src="static/js/silder.js"></script>
			<!--获取当前页导航 高亮显示标题-->
		</nav>
	</div>
</header>